.login-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.main-box{
    display: flex;
    width: 100%;
    height: 100vh;
}

.logo-box{
 width: 500px;
 height: 600px;
 margin-left: 4%;
 margin-top: 3%;
 border-radius: 10px;
}

.logo-main{
    position: absolute;
    left: 410px;
    top: 200px;
}

.brannd-name{
    color: white;
    margin-left: 5%;

}

.login-heading{
    color: white;
    position: absolute;
    left: 60%;
    top: 20%;
}

.login-dets{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 48%;
}

.input{
    width: 500px;
    height: 30px;
    padding: 5px;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.label{
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
}

.input::placeholder{
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.button-div{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    position: relative;
    top: 50px;
    left: 190px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-div:hover {
    background-color: white;
    color: #1A2C54;
}

.button-div:active {
    transform: translateY(2px);
}