.main-box{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.logo-box{
 width: 500px;
 height: 600px;
 margin-left: 4%;
 margin-top: 3%;
 border-radius: 10px;
}

.logo-main{
    position: absolute;
    left: 410px;
    top: 200px;
}

.title{
    height: 50px;
    margin-left: 29.5%;
    color: #f7f7f7;
    margin-top: 8%;
}

.login-heading{
    color: white;
    position: absolute;
    left: 36%;
    top: 30%;
}

.login-dets{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 48%;
}

.input{
    width: 500px;
    height: 30px;
    padding: 5px;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: rgb(143, 143, 143);
}

.label{
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
}

.input::placeholder{
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.button-div{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: rgb(143, 143, 143);
    margin-top: 5%;
    margin-left: 34%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-div:hover {
    background-color: white;
    color: #1A2C54;
}

.detailing-logo{
    width: 300px;
    margin-left: 50%;
    margin-top: 30%;
}
.button-div:active {
    transform: translateY(2px);
}